.nav{
    position: absolute;
    left: 0;
    top: 0;
    background-color: skyblue;
    z-index: 10;
    padding: 10px;
    border-radius: 10px;
}

.nav:hover{
    background-color: orange;
}

.nav a{
    font-weight: 600;
    text-decoration: none;
}
